name: Release

permissions:
  contents: write

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: taiki-e/create-gh-release-action@v1
        with:
          changelog: CHANGELOG.md
          token: ${{ secrets.GITHUB_TOKEN }}

  upload-assets:
    needs: create-release
    timeout-minutes: 30
    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
          - target: x86_64-apple-darwin
            os: macos-latest
          - target: aarch64-apple-darwin
            os: macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6

      - name: Get the release version from the tag
        shell: bash
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Install rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          cache-key: ${{ runner.os }}-cargo-${{ hashFiles('rust-toolchain.toml') }}-${{ hashFiles('Cargo.lock') }}
          components: clippy, rustfmt
          target: ${{ matrix.target }}

      - name: Install cargo-auditable
        run: cargo install cargo-auditable

      - name: Build library
        run: cargo auditable build --release --target ${{ matrix.target }}

      - name: Build archive
        shell: bash
        run: |
          archive="redis-shield-$VERSION-${{ matrix.target }}.tar.gz"

          if [[ "${{ matrix.os }}" == "macos-latest" ]]; then
              ext="dylib"
          else
              ext="so"
          fi

          tar -czf $archive -C "target/${{ matrix.target }}/release" "libredis_shield.$ext"
          echo "ASSET=$archive" >> $GITHUB_ENV

      - name: Generate checksums
        shell: bash
        run: |
          shasum -a 256 ${{ env.ASSET }} > ${{ env.ASSET }}.sha256

      - name: Upload asset
        uses: softprops/action-gh-release@v2
        with:
          append_body: true
          files: |
            ${{ env.ASSET }}
            ${{ env.ASSET }}.sha256
